.degree {
    display: inline-block;
    color:#0B2027;
    background-color: #fafaf8;
    border-radius: 10px;
    margin-right:10px;
    margin-top: 5%;
    width: 30%;
}

@media screen and (max-width: 500px) {

    .degree h2{
        font-size: 20px;
    }

    .degree h3{
        font-size: 13.5px;
    }
}