

.column {
    width: 30%;
    height: 300px;
    display: block;
    margin-top: 7%;
    margin-left: 35%;
    margin-bottom: 145px;
    border: 3px solid  #8a8f85;
    background-color: #CFD7C7;
    color: #282c34; 
}

.column input {
    margin-top:60px;
    margin-left:5px;
    border-radius: 6px;
    padding: 5px;
}

.column button {
    background-color: cornflowerblue;
    border-radius: 6px;
    margin-left: 5px;
    color: cornsilk;
    padding: 5px;
    border-style: double;
    border-color: darkgray;
}

.column button:hover {
    cursor: pointer;
    background-color: rgb(67, 125, 231);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.About h2{
    padding: 60px;   
}

.About p{
    color: #282c34;   
    display: block;
    margin-left: 20%;
    padding: 10%;
    border-radius: 10px;
    background-color: #CFD7C7;
    border: 3px solid #282c34; 
    width:40%;
}