.Jobs {
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    padding: 25px;
    margin-left: 16%;
    margin-bottom: 3%;
    text-align: left;
    color: #0B2027;
    border-radius: 15px;
    background-color: #fafaf8;
    border: 4px solid #4a706b;
}
    

.Jobs li {
    width: 100%;
    margin: 5px;
    text-align: left;
    font-weight: bold;
    padding:10px, 10px;
    color: #40798C; 
}

@media screen and (max-width: 500px) {
    .Jobs {
        margin-left: 7%;
        width: 70%;
        margin-top: 15%;
        font-size: 15px;
        height: fit-content;
    }
}