.Contact {
    display: inline-block;
    margin:0;
    padding:0;
    height:100%;
    color: #282c34; 
}

.Contact h2{
    padding: 60px;   
}

.Contact h3{
    color: #282c34;   
}

.Contact h3 a{
    color: #282c34;
     
}