.certification {
    display: inline-block;
    color:#0B2027;
    background-color: #fafaf8;
    border-radius: 10px;
    margin-left:10px;
    margin-bottom: 10%;
    margin-top: 50px;
    width: 20%;
}

@media screen and (max-width: 500px) {
    .certification {
        width: 120px;
        margin-top: 17px;
        margin-bottom: 20%;
    }
    .certification h2{
        font-size: 20px;
    }

    .certification h3{
        font-size: 13.5px;
    }
}