.App {
  text-align: center;
  background-color:#70a9a1;
  position: relative;
  min-height: 100vh;
  max-height: fit-content;
}

.App-h1 {
  font-size: 30px;
}

.App hr {
  border:  2 px#0B2027;
  border-style: double;
}
